{% for m in menu %}
	<li><a href="{{ m.link }}"> 
	{% if m.icon is defined %}
	<i class="{{ m.icon }}"></i>
	{% endif %} <span
			class="title">{{ m.label }}</span>
			
		{% if m.alert is defined %}
			<span class="label label-purple pull-right hidden-collapsed">{{ m.alert }}</span>
		{% endif %}
		
		</a>
		
		{% if m.submenu is defined %}	
		<ul>
			{% for ms in m.submenu %}
            	<li>
            	<a href="{{ ms.link }}">  <span
            			class="title">{{ ms.label }}</span>
        			{% if ms.alert is defined %}
            			<span class="label label-purple pull-right hidden-collapsed">{{ m.alert }}</span>
            		{% endif %}
            	</a>
            	</li>
            {% endfor %}
		</ul>
		{% endif %}
{% endfor %}


		